/CodeActionCapabilities.java
/CodeLensCapabilities.java
/ColoringInformation.java
/ColoringParams.java
/ColoringStyle.java
/CompletionCapabilities.java
/CompletionItemCapabilities.java
/DefinitionCapabilities.java
/DidChangeConfigurationCapabilities.java
/DidChangeWatchedFilesCapabilities.java
/DocumentHighlightCapabilities.java
/DocumentLinkCapabilities.java
/DocumentSymbolCapabilities.java
/DynamicRegistrationCapabilities.java
/ExecuteCommandCapabilities.java
/FormattingCapabilities.java
/HoverCapabilities.java
/OnTypeFormattingCapabilities.java
/RangeFormattingCapabilities.java
/ReferencesCapabilities.java
/RenameCapabilities.java
/SignatureHelpCapabilities.java
/SymbolCapabilities.java
/SynchronizationCapabilities.java
/WorkspaceClientCapabilities.java
/WorkspaceEditCapabilities.java
/ApplyWorkspaceEditParams.java
/ApplyWorkspaceEditResponse.java
/ClientCapabilities.java
/CodeActionContext.java
/CodeActionParams.java
/CodeLens.java
/CodeLensOptions.java
/CodeLensParams.java
/CodeLensRegistrationOptions.java
/Command.java
/CompletionItem.java
/CompletionList.java
/CompletionOptions.java
/CompletionRegistrationOptions.java
/Diagnostic.java
/DidChangeConfigurationParams.java
/DidChangeTextDocumentParams.java
/DidChangeWatchedFilesParams.java
/DidChangeWorkspaceFoldersParams.java
/DidCloseTextDocumentParams.java
/DidOpenTextDocumentParams.java
/DidSaveTextDocumentParams.java
/DocumentFilter.java
/DocumentFormattingParams.java
/DocumentHighlight.java
/DocumentLink.java
/DocumentLinkOptions.java
/DocumentLinkParams.java
/DocumentLinkRegistrationOptions.java
/DocumentOnTypeFormattingOptions.java
/DocumentOnTypeFormattingParams.java
/DocumentOnTypeFormattingRegistrationOptions.java
/DocumentRangeFormattingParams.java
/DocumentSelector.java
/DocumentSymbolParams.java
/ExecuteCommandOptions.java
/ExecuteCommandParams.java
/ExecuteCommandRegistrationOptions.java
/FileEvent.java
/FormattingOptions.java
/Hover.java
/InitializeError.java
/InitializeErrorCode.java
/InitializeParams.java
/InitializeResult.java
/InitializedParams.java
/Location.java
/MarkedString.java
/MessageActionItem.java
/MessageParams.java
/ParameterInformation.java
/Position.java
/PublishDiagnosticsParams.java
/Range.java
/ReferenceContext.java
/ReferenceParams.java
/Registration.java
/RegistrationParams.java
/RenameParams.java
/ResourceChange.java
/SaveOptions.java
/ServerCapabilities.java
/ShowMessageRequestParams.java
/SignatureHelp.java
/SignatureHelpOptions.java
/SignatureHelpRegistrationOptions.java
/SignatureInformation.java
/SymbolInformation.java
/TextDocumentChangeRegistrationOptions.java
/TextDocumentContentChangeEvent.java
/TextDocumentEdit.java
/TextDocumentIdentifier.java
/TextDocumentItem.java
/TextDocumentPositionParams.java
/TextDocumentRegistrationOptions.java
/TextDocumentSaveRegistrationOptions.java
/TextDocumentSyncOptions.java
/TextEdit.java
/Unregistration.java
/UnregistrationParams.java
/VersionedTextDocumentIdentifier.java
/WillSaveTextDocumentParams.java
/WorkspaceEdit.java
/WorkspaceFolder.java
/WorkspaceFoldersChangeEvent.java
/WorkspaceFoldersOptions.java
/WorkspaceServerCapabilities.java
/WorkspaceSymbolParams.java
/ColorProviderCapabilities.java
/ColorProviderOptions.java
/CompletionItemKindCapabilities.java
/DiagnosticRelatedInformation.java
/DidChangeWatchedFilesRegistrationOptions.java
/FileSystemWatcher.java
/ImplementationCapabilities.java
/PublishDiagnosticsCapabilities.java
/SignatureInformationCapabilities.java
/StaticRegistrationOptions.java
/SymbolKindCapabilities.java
/TextDocumentClientCapabilities.java
/TypeDefinitionCapabilities.java
/Color.java
/ColorInformation.java
/ColorPresentation.java
/ColorPresentationParams.java
/CompletionContext.java
/CompletionParams.java
/ConfigurationItem.java
/ConfigurationParams.java
/DocumentColorParams.java
/MarkupContent.java
